@font-face {
    font-family: 'cac_champagneregular';
    src: url('fonts/cac_champagne-webfont.eot');
    src: url('fonts/cac_champagne-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/cac_champagne-webfont.woff') format('woff'),
         url('fonts/cac_champagne-webfont.ttf') format('truetype'),
         url('fonts/cac_champagne-webfont.svg#cac_champagneregular') format('svg');
}

/* Responsive pour écran < 1024px de large */
@media all and (max-width: 1024px) {
    .liseret {
        display: none;
    }

    .cv header figure {
        display: initial;
    }

    .cv section {
        flex-direction: column;
    }
}


/* Responsive pour écran > 1024px de large */
@media all and (min-width: 1024px) {
    .cv header figure {
        display: none;
    }
}


/* Règles CSS communes quelque soit la taille de l'écran' */
.cv-content {
    display: flex;
    align-items: stretch;
}

nav {
    min-width: 150px;

    border: 2px ridge grey;
    border-radius: 0 0 0 10px;
    box-shadow: 3px 3px 4px grey;
    background-color: #CCC;
}
nav ul {
    display: flex;
    justify-content: space-around;

    padding: 0;
    list-style: none;
}

nav ul img {
    width: 32px;
    height: 32px;
}



.cv {
    flex: 1;
    padding-left: 10px;
}

.cv header {
    text-align: center;
    background-color: #DDD;

    border: 2px ridge grey;
    border-radius: 0 10px 0 0;
}
.cv header h1 {
    font-family: 'cac_champagneregular', arial, sans-serif;
    font-weight: bold;
    font-size: 3em;
}


.cv section {
    display: flex;
    flex-wrap: wrap;

    border: 2px ridge grey;
    border-radius: 0 0 10px 0;
    background: url('images/background.jpg') no-repeat;
    background-size: cover;
}

.cv section article {
    flex: 1;
}


article h2 {
    font-style: italic;
    color: rgb(97, 69, 106); /* #61456a */
}

article ul {
    list-style-type: circle;
}

article ul li .xp-dates {
    font-weight: bold;
    text-decoration: underline;
}


footer blockquote {
    text-align: right;
    margin-right: 0;
    font-style: italic;
    font-size: 0.8em;
}